@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --gray: rgb(21, 24, 28);
    --dark-gray: rgb(10, 12, 14);
    --another-gray: rgb(47, 51, 54);
    --blue: rgb(29, 161, 242);
    --green: rgb(22, 190, 22);
    --orange: rgb(255, 166, 0);
    --red: rgb(224, 12, 12);
    --placeholder-color: #bbb;
    --box-shadow: 0 2px 15px rgba(21, 24, 28, 0.5);
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--dark-gray), var(--black));
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    margin: 0;
}

.app-title {
    justify-content: center;
    color: var(--blue);
    letter-spacing: 0.5px;
    margin-bottom: 45px;
}

.tracker-container {
    margin: 0 auto;
    max-width: 350px;
}

h1 {
    margin: 0;
}

h3 {
    font-size: 18px;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4 {
    margin: 0;
    text-transform: uppercase;
}

.balance {
    font-size: 20px;
    margin: 0;
}

.eval-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-gray);
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin: 20px 0;
}

.eval-container > div {
    flex: 1;
    text-align: center;
}

.eval-container > div:first-of-type {
    border-right: 1px solid var(--blue);
}

.money {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin: 5px 0;
}

.money.plus {
    color: var(--green);
}

.money.minus {
    color: var(--red);
}

.list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: var(--dark-gray);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    
}

.list li.plus {
    border-right: 5px solid var(--green);
}

.list li.minus {
    align-items: center;
    border-right: 5px solid var(--red);
}

.delete-button {
    background-color: transparent;
    color: var(--blue);
    font-size: 18px;
    line-height: 18px;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;

}

.list li:hover .delete-button {
    opacity: 1;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type='text'], input[type='number'] {
    background-color: var(--dark-gray);
    color: var(--white);
    border: none;
    border: 0.5px solid var(--gray);
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px;
    width: 100%;
}

input[type='text']:focus, input[type='number']:focus {
    outline: 1px solid var(--blue);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type='text']::placeholder, input[type='number']::placeholder {
    color: var(--placeholder-color);
    text-transform: capitalize;
}

.add-button {
    display: block;
    background-color: var(--gray);
    color: var(--blue);
    box-shadow: var(--box-shadow);
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 20px 0 30px;
    padding: 10px;
    width: 100%;
}
